<?xml version="1.0"?>
<!-- created with Phobos 1.0.1 "Capricious Choutengan" -->
  <robot name="taskTable2">

    <link name="taskTable2_root">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.001"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="Cube">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="..\meshes\dae\Cube.001.dae" scale="0.3 0.285 1.0"/>
        </geometry>
      </visual>
      <collision name="Cube.000">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="..\meshes\dae\Cube.002.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

  </robot>
